<form [formGroup]="loginForm">
    <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Username" formControlName="email" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="password" name="psw" required>

        <button type="submit" (click)="login()">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container">
        <a routerLink="/register" class="cancelbtn">Register</a>
    </div>
</form>